/* 1 checkpoint */
nav li{
    padding: 12px;
    margin: 5px;
    background: rgb(206, 206, 206);
}

nav li a {
    text-decoration: none;
}

.active {
    background-color:lavender;
    font-weight: bold;
    text-decoration: underline overline;
    border: 2px solid rgb(150, 68, 68);
}

img {
    margin: 24px;
    width: 325px;
    border: 8px solid lavender;
    padding: 10px;
    transition: .5s ease;
}

img:hover {
    box-shadow: 0 0 0 10px orangered;
    transition: .5s ease;
}

/* in class notes: grid */

/* .grid-container{
    margin: 24px 0 px;
    display
    grid template columns
    gap
} */
/* 
.grid-container img {
    object-fit: cover;
    width: 300;
    height: 300;
    justify-self: center;
} */
/* make sure it looks different for mobile, tablet, and desktop view */

/* flexbox in class notes */
/* make sure it looks different for mobile, tablet, and desktop view */

/* .flexbox-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.flexbox-container img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    justify-self: center;
} */